<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Попутчики</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li id="user-info"></li>
            <li><a href="#" data-toggle="modal" data-target="#videoModal" role="button">Загрузить видео</a></li>
            <li><a href="#" id="button-logout" style="display: none">Уйти</a></li>
        </ul>
        <h3 class="text-muted"><a href="/">Попутчики</a> </h3>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Register</h4>
                </div>

                <div class="modal-body">
                    <form role="form" id="form-register">
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                   placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                                   placeholder="Password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="form-register-submit">Зарегестрироваться</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
         aria-hidden="true">
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Загрузить видос</h4>
                </div>

                <div class="modal-body">
                    <form role="form" id="form-video" enctype='multipart/form-data'>
                        <div class="form-group">
                            <input type="text" name="firstname" class="form-control" id="userFistNameInput"
                                   placeholder="Имя">
                        </div>
                        <div class="form-group">
                            <label>Видео</label> <br>
                            <input type="file" id="form-video-file" name="file">
                            <div class="video-round">
                                <video width="300" height="300" id="form-video-video" class="video-round">
                                    <source src="" id="form-video-src" type="video/webm">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                            <div class="progress progress-striped active" style="display: none"
                                 id="form-video-file-progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 45%">
                                </div>
                            </div>
                            <p class="help-block">Не более 10 гб</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>

    <!-- /.modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Редактировать</h4>
                </div>

                <div class="modal-body">
                    <form role="form" id="form-login">

                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" name="email" class="form-control" id="exampleInputEmail2"
                                   placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword2"
                                   placeholder="Password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="form-login-submit">Войти</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="jumbotron" id="block-user" style="display: none">
        <h1>Добро пожаловать, юзернейму</h1>

        <p class="lead">К нашему шалашу</p>

        <p><a class="btn btn-lg btn-success" href="#" data-toggle="modal" data-target="#userModal" role="button">Изменить
            инфу</a>
        </p>

    </div>
    <div class="jumbotron" id="content-wrapper"></div>
    <!-- /.modal -->
    <div class="jumbotron" id="block-login" style="display: none">
        <h1>Всегда прошу</h1>

        <p class="lead">К нашему шалашу</p>

        <p><a class="btn btn-lg btn-success" href="#" data-toggle="modal" data-target="#myModal" role="button">Зарегиться</a>
        </p>

        <p><a class="btn btn-lg btn-primary" href="#" data-toggle="modal" data-target="#loginModal" role="button">Войти
        </a></p>
    </div>

    <div class="footer"><p>© Попутчики 2014</p></div>
</div>
<!-- /container -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/backbone.marionette.min.js"></script>
<script src="js/backbone.syphon.min.js"></script>

<script type="text/template" id="user-info-template">
    <div class="well-sm">
        <p><a class="link" href="<%= user.get('url') %>"><%= user.get('firstname') %> <%= user.get('secondname') %></a></p>
    </div>
</script>
<script type="text/template" id="block-user-template">
    <h1>Добро пожаловать, <%= user.get('firstname') %></h1>

    <p class="lead">К нашему шалашу</p>

    <p><a class="btn btn-lg btn-success" href="#" data-toggle="modal" data-target="#userModal" role="button">Изменить
        инфу</a>
    </p>
</script>

<script type="text/template" id="block-user-info-template">
    <h1><%= user.get('firstname') %> <%= user.get('secondname') %></h1>
</script>

<script type="text/template" id="form-user-template">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Изменить</h4>
            </div>

            <div class="modal-body">
                <form role="form" id="form-user" enctype='multipart/form-data'>
                    <div class="form-group">
                        <input type="text" name="firstname" class="form-control" id="userFistNameInput"
                               placeholder="Имя" value="<%= user.get('firstname') %>">
                    </div>
                    <div class="form-group">
                        <input type="text" name="secondname" class="form-control" id="userSecondNameInput"
                               placeholder="Фамилия" value="<%= user.get('secondname') %>">
                    </div>
                    <div class="form-group">
                        <label>Email address</label>

                        <input type="email" name="email" class="form-control" id="exampleInputEmail2"
                               placeholder="Enter email" value="<%= user.get('email') %>">
                    </div>
                    <div class="form-group">
                        <label>Аватара</label> <br>
                        <%= user.get('image') %>
                        <input type="hidden" name="photo" class="form-control" id="form-user-image-hidden"
                               value='<%= JSON.stringify(user.get("photo")) %>'>
                        <img src="<%= user.get('photo').url %>" id="form-user-image" width="300">
                        <input type="file" id="form-user-file" name="file">

                        <div class="progress progress-striped active" style="display: none"
                             id="form-user-file-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 45%">
                            </div>
                        </div>
                        <p class="help-block">Не более 10 гб</p>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword2"
                               placeholder="Password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="form-user-save">Сохранить</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</script>
<script src="js/app.js"></script>
</body>
</html>
