<!DOCTYPE html>
<html lang="ru" ng-app="chat">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Попутчики: панель управления</title>
    <style type="text/css">
      body {
        padding-top: 40px;
      }

      .avatar {
        width: 60px;
        height: 60px;
      }

      .user.active {
        opacity: 1.0;
        box-shadow: 10px 11px 27px -15px rgba(0,0,0,0.43);
      }

      .user-add {
        text-aling: center;
        padding: 10px !important;
      }

      .count {
        float: right;
        margin-top: 20px;
      }

      .message {
        padding: 3px;
        border-radius: 3px;
        background-color: white;
        margin-bottom: 3px;
      }

      .your {
        background-color: #AEC6CF;
      }

      .user {
        background-color: white;
        border-radius: 3px;
        padding: 2px;
        opacity: 0.6;
        cursor: pointer;
        position: inherit;
        margin-bottom: 4px;
        font-size: 13px;
      }

      .username {
        margin-left: 2px;
      }

      #chat {
        height: 300px;
        overflow-y: scroll;
      }

      .circle {
        position: absolute;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: green;
        position: absolute;
        top: 3px;
        right: 3px;
      }
    </style>
    <!-- Bootstrap -->
    <link href="/api/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
    <div class="jumbotron">
    <h1>Администрирование<h1>
    <h2>Сообщения</h2>
    <p><a href="/api/admin">Главная страница админки</a>
    <div class="row">
      <div class="col-md-3" ng-controller="AccountsController as accounts">
      Аккаунты под управлением
        <div class="user" 
          ng-repeat="account in accounts" 
          ng-class="{active: isActive(account)}" 
          ng-click="setActive(account)">
          <img ng-src="{{ account.avatar_url }}" alt="avatar" class="img-circle avatar">
          <span class="username">{{ account.name }}</span>
          <span class="badge count" ng-show="account.count">{{ account.count }}</span>
        </div>
        <div ng-controller="AccountSearch">
          <div class="user user-add" ng-click="activate()">добавить</div>
          <div ng-show="show">
            <form novalidate>
              <input type="text" name="text" placeholder="email" ng-model="email">
            </form>
            <div ng-repeat="account in result" ng-click="add(account)">{{ account.name }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      Сообщения
      <div ng-controller="MessagesCountroller" id="chat" scroll-glue ng-model="glued">
        <div ng-repeat="message in messages" ng-class="{your: !isActive(message)}" class="message">{{ message.text }}</div>
      </div>
      <div>
        <form novalidate ng-submit="send()" ng-controller="MessageFormController">
          <input type="text" name="text" placeholder="сообщение" ng-model="text">
          <input type="submit" id="submit" value="отправить" />
        </form>
      </div>
      </div>
      <div class="col-md-3" ng-controller="ChatsController">
      Чаты
        <div class="user" 
          ng-repeat="account in chats" 
          ng-class="{active: isActive(account)}" 
          ng-click="setActive(account)">
          <img ng-src="{{ account.user.avatar_url }}" alt="avatar" class="img-circle avatar">
          <span class="username">{{ account.user.name }}</span>
          <span class="badge count" ng-show="account.unread">{{ account.unread }}</span>
          <div class="circle" ng-show="account.user.online"></div>
        </div>

        <div ng-controller="ChatSearch">
          <div class="user user-add" ng-click="activate()">добавить</div>
          <div ng-show="show">
            <form novalidate>
              <input type="text" name="text" placeholder="Имя" ng-model="name">
            </form>
            <div ng-repeat="account in result" ng-click="add(account)">
            {{ account.name }}, {{ account.age }}, {{ account.city }}
            </div>
          </div>
        </div>
    </div>
  </div>

  <script src="/api/static/js/jquery.min.js"></script>
  <script src="/api/static/js/bootstrap.min.js"></script>
  <script src="/api/static/js/angular.js"></script>
  <script src="/api/static/js/angular-route.js"></script>
  <script src="/api/static/js/angular-local-storage.js"></script>
  <script src="/api/static/js/scrollglue.js"></script>
  <script type="text/javascript">

  function WS() {
    var self = this;
    self.timeout = 1000;
    self.accounts = [];
    var host = window.location.hostname;
    self.callbacks = [
      function(data) {
        console.log('got event', data.type)
      },
      function(data) {
        console.log('from user', data.user)
      }
    ]
    self.setAccounts = function(accounts) {
      self.connection.close();
      self.accounts = accounts;
      self.reconnect();
    }
    self.addCallback = function(callback) {
      console.log('adding callback');
      self.callbacks.push(callback);
    }
    self.reconnect = function() {
      var url = 'ws://' + host + '/api/realtime';
      if (self.accounts && self.accounts.length > 0) {
        url = url + '?id=' + self.accounts.join(',')
      }
      try {
        if (self.connection) {
          self.connection.close();
        }
        self.connection = new WebSocket(url);
      } catch(e) {
        console.log("ws error", e)
        return setTimeout(self.reconnect, self.timeout);
      }
      self.connection.onopen = function () {
        console.log('ws connected')
      };

      self.connection.onmessage = function (event) {
        data = JSON.parse(event.data);
        angular.forEach(self.callbacks, function(value) {
          value(data);
        });
      };

      self.connection.onclose = function () {
        console.log('ws closed; reconnecting')
        return setTimeout(self.reconnect, self.timeout);
      }
    }

    self.connect = function() {
      self.reconnect()
    }

    return self;
  }

  var connection = new WS();
  connection.connect();

  var app = angular.module("chat", ['luegg.directives', 'LocalStorageModule']);
  app.controller('AccountsController', ['$scope', '$rootScope', '$http', 'localStorageService', '$q', function($scope, $rootScope, $http, localStorageService, $q) {
    $scope.accounts = []; 
    $rootScope.active = null;
    $scope.account_ids = localStorageService.get('account_ids');
    $scope.$watch('account_ids', function(){
      connection.setAccounts($scope.account_ids);
      localStorageService.set('account_ids', $scope.account_ids);
    }, true);
    $scope.update = function() {
      $scope.accounts = [];
      angular.forEach($scope.account_ids, function(value) {
        $http.get('/api/user/' + value).success(function(data) {
          $scope.accounts.push(data);
          if ($rootScope.active || $scope.accounts.length == 0) {
            return;
          }
          $rootScope.active = $scope.accounts[0].id;
        });
      });
    };
    $scope.update();
    $scope.setActive = function(account) {
      $rootScope.active = account.id; 
    };
    $scope.isActive = function(account) {
      return account.id === $rootScope.active;
    };
    $scope.add = function(account) {
      if (!$scope.account_ids) {
        $scope.account_ids = [];
      }
      $scope.account_ids.push(account.id);
      $scope.accounts.push(account);
    };
  }]);
  app.controller('AccountSearch', ['$scope', '$rootScope', '$http', function($scope, $rootScope, $http) {
    $scope.email = "";
    $scope.result = [];
    $scope.show = false;
    $scope.activate = function(){
      $scope.show = !$scope.show;
    };
    $scope.$watch('email', function(){
      if (!$scope.email) {
        $scope.result = [];
        return;
      }
      $http.get('/api/users/' + $scope.email).success(function(data) {
        $scope.result = data;
      });
    });
  }]);
  app.controller('ChatSearch', ['$scope', '$rootScope', '$http', function($scope, $rootScope, $http) {
    $scope.name = "";
    $scope.result = [];
    $scope.show = false;
    $scope.activate = function(){
      $scope.show = !$scope.show;
    };
    $scope.$watch('name', function(){
      if (!$scope.name) {
        $scope.result = [];
        return;
      }
      $http.get('/api/search?count=15&name=' + $scope.name).success(function(data) {
        $scope.result = data.result;
      });
    });
  }]);
  app.controller('ChatsController', ['$scope', '$rootScope', '$http', function($scope, $rootScope, $http) {
    $scope.chats = [];
    $rootScope.chat = null;
    $scope.onData = function(data) {
      console.log('chat handling', data.type)
      if (data.type != "messages") {
        return;
      }
      var message = data.target;
      if (message.chat == $rootScope.chat) {
        return;
      }
      if (message.destination != $rootScope.active) {
        console.log('user not active');
        return;
      }
      $scope.$apply(function() {
        for (var i = 0; i < $scope.chats.length; i++) {
          if($scope.chats[i].id == message.chat) {
            console.log($scope.chats[i]);
            console.log('increasing count', $scope.chats[i].unread);
            $scope.chats[i].unread += 1;
            console.log('count', $scope.chats[i].unread);
            return
          }
        };
      });
    };
    connection.addCallback($scope.onData);
    $scope.update = function() {
      if ($rootScope.active == null) {
        return
      }
      $http.get('/api/user/' + $rootScope.active + '/chats').success(function(data) {
        $scope.chats = data;
        if($scope.chats.length > 0) {
          $rootScope.chat = $scope.chats[0].id;
        }
      });
    };
    $rootScope.$watch('active', $scope.update);    
    $rootScope.$watch('chat', function(){
      angular.forEach($scope.chats, function(value){
        if (value.id == $rootScope.chat) {
          value.unread = 0;
        }
      });
    });
    $scope.setActive = function(chat) {
      $rootScope.chat = chat.id; 
      angular.forEach($scope.chats, function(value){
        if (value.id == chat.id) {
          value.unread = 0;
        }
      });
    };  
    $scope.isActive = function(chat) {
      return chat.id === $rootScope.chat;
    };
    $scope.add = function(account) {
      $scope.chats.push({id: account.id, user: account});
      $rootScope.chat = account.id;
    };
  }]);

  app.controller('MessageFormController', ['$scope', '$rootScope', '$http', function($scope, $rootScope, $http) {
    $scope.text = null;
    $scope.send = function() {
      if (!$scope.text) {
        return;
      }
      var message = {text: $scope.text, origin: $rootScope.active};
      $http({method: 'PUT', url: '/api/user/' + $rootScope.chat + '/messages', data: message}).success(function(data) {
        $scope.text = "";
        // $rootScope.messages.push(message);
      });
    }
  }]);

  app.controller('MessagesCountroller', ['$scope', '$rootScope', '$http', function($scope, $rootScope, $http) {
    $rootScope.messages = [];
    $scope.glued = true;
    $scope.onData = function(data) {
      console.log('data handling', data.type)
      if (data.type != "messages") {
        return;
      }
      var message = data.target;
      console.log(message.chat, $rootScope.chat);
      if (message.chat != $rootScope.chat) {
        console.log('it is bad chat, lel');
        return;
      }
      if ($rootScope.messages.length > 0) {
        var messages = $rootScope.messages;
        for (var i = messages.length - 1; i >= 0; i--) {
          console.log(messages[i].id, message.id);
          if (messages[i].id == message.id) {
            console.log('already in chat');
            return;
          }
        };
      }
      console.log('appear');
      $scope.$apply(function() {
        $rootScope.messages.push(message);
      });
    };
    connection.addCallback($scope.onData);
    $scope.update = function() {
      if ($rootScope.active == null || $rootScope.chat == null) {
        return
      }
      $http.get('/api/chat/' + $rootScope.active + '/' + $rootScope.chat).success(function(data) {
        $rootScope.messages = data;
      });
    };
    $rootScope.$watch('chat', $scope.update);

    $scope.isActive = function(message) {
      return message.origin === $rootScope.active;
    };
  }]);
  </script>
  </body>
</html>